#wrap {
    display: flex;
    flex-direction: column;
    
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    background-color: red;/*Debug*/
}

.grid-header {
    display: flex;
    flex-direction:row ;
    align-items: center;
    gap: 16px;
}
